body {
  text-align: center;
  background-color: #011F3F;
}


#level-title, footer, button {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

footer {
  font-size: 1.5rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.hide {
  visibility: hidden;
  display: none;
}

.spanhide {
  visibility: hidden;
  display: none;
}

button {
  background-color: red;
  border-radius: 25px;
  border: 5px solid black;
  padding: 15px;
  text-align: center;
  align-content: center;
  margin: 3.5%;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  3%;
  color: #FEF2BF;
}